apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: fastapi
  labels:
    app: fastapi
spec:
  serviceName: postgres-service
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: postgres-user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: postgres-password
            - name: POSTGRES_DB
              value: fastapi
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql
      volumes:
        - name: postgres-data
          hostPath:
            path: /postgres_data
            type: Directory

---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: fastapi
type: Opaque
stringData:
  postgres-user: root
  postgres-password: password
  postgres-db: fastapi

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: fastapi
spec:
  clusterIP: None
  selector:
    app: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432

