services:
  app:
    build: .
    container_name: fastapi_app
    volumes:
      - ./app:/code/app
    env_file:
      - .env
    ports:
      - 5000:5000
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db
  db:
    image: postgres
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    volumes:
      - /home/kumar/postgres_data:/var/lib/postgresql
    ports:
      - 5432:5432
  pgAdmin:
    image: dpage/pgadmin4
    env_file:
      - .env
    ports:
      - 8080:80
    depends_on:
      - db

