name: "Demo github workflow"
on: 
  push:
    branches:
      - main 
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: log message
              run: echo "Hello"     
            - name: main branch changes
              run: echo "main branch change"
        
