name: "Demo github workflow"
on: 
  workflow_call:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER : root
          POSTGRES_PASSWORD : password
          POSTGRES_DB : fastapi
          POSTGRES_HOST : localhost
        ports:
          - 5432:5432
        options: | 
          --health-cmd "pg_isready -U root" --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      # - name: Checking directories
      #   working-directory: ./python/ecommerce_api
      #   run: |
      #     echo "Current working dir: $PWD"
      #     ls -ll $PWD
      - name: Moving content of the application to the root
        run: |
          echo "current working directory $PWD"
          echo "moving content of $PWD/python/ecommerce_api to root"
          mv ./python/ecommerce_api/ .
          echo "checking the current working directories content."
          ls -ll 
      - name: Set up python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          architecture: 'x64'
          cache: 'pip'

      - name: Wait for PostgresSQL to be ready
        run: |
          while ! nc -z localhost 5432; do
            echo "waiting for postgres service..."
            sleep 1
          done
          echo "Postgres is up!"
          
      - name: Installing the dependencies and lint project
        working-directory: ./ecommerce_api
        run: | 
          echo "Checking current working directory: $PWD"
          ls -ll
          echo "Installing dependenices.."
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          echo "Linting and formatting the project"
          ruff check .
          ruff format .
      - name: Test with pytest
        working-directory: ./ecommerce_api
        run: |
          echo "Installing pytest"
          pip install pytest pytest-conv
          echo "Testing application..." 
          pytest tests.py --doctest-modules --junitxml=junit/test.results.xml --cov=com --cov-report=xml --cov-report=html

