name: "Demo github workflow"
on: 
  workflow_call:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      # - name: Checking directories
      #   working-directory: ./python/ecommerce_api
      #   run: |
      #     echo "Current working dir: $PWD"
      #     ls -ll $PWD
      - name: Moving content of the application to the root
        run: |
          echo "current working directory $PWD"
          echo "moving content of $PWD/python/ecommerce_api to root"
          mv ./python/ecommerce_api/ .
          echo "checking the current working directories content."
          ls -ll 
      - name: Set up python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          architecture: 'x64'
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"