name: "Demo github workflow"
on: 
  workflow_call:

jobs:
  example_job:
    name: test workflow
    runs-on: ubuntu-latest
    steps:
      - name: step1
        run: echo "testing reusable workflow."

        
